{% extends "base.html" %}
{% block title %}HR Dashboard{% endblock %}
{% block Addnav %}
<li class="nav-item active">
    <a class="nav-link" href="/HR1/post_job">Post JOB</a>
</li>
{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
        <script>var $j = jQuery.noConflict();</script>
<div class="contain-fluid">
    <div class="container">
        <div class="row">
            <h2>{{errorMsg}}</h2>
            <div class='col-md-offset-3 col-lg-offset-3'></div>
            <div class='col-md-6 col-lg-6 col-sm-12'>
                <form action="/empSearch" method='POST'>
                    <div class='form-group'>
                        <label>Enter Category:</label>
                        <input type='text' name='category' class='form-control'/>
                    </div>
                    <div class='form-group'>
                        <input type='submit' class='btn btn-primary' name='submit' value='Search'/>
                    </div>
                </form>
            </div>
            <div class='col-md-offset-3 col-lg-offset-3'></div>
        </div>
        <div class="row">
            <div class='col-lg-12'>
                
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0,data|length) %}
                    <tr>
                        <td>{{(i+1)}}</td>
                        <td>{{data[i]['Name']}}</td>
                        <td>{{data[i]['Email']}}</td>
                        <td><input type="button" name="view" value="view" id="{{data[i]['_id']}}" data-bs-toggle="modal" data-bs-target="#viewdetails"  class="btn btn-secondary view_data" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewdetails" tabindex="-1" role="dialog" aria-labelledby="viewdetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Details of Candidate:</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <table>
            <br>
            <tr>    <input type="text" class="form-control-plaintext" readonly  id="view_name"> </tr><br>
            <tr>    <input type="text" class="form-control-plaintext" readonly id="view_email">  </tr><br>
            <tr>    <input type="text" class="form-control-plaintext" readonly id="view_mobile">  </tr><br>
            <tr>    <textarea rows="4" cols="50" class="form-control-plaintext" readonly id="view_skills" > </textarea> </tr><br>
            <tr>    <input type="text" class="form-control-plaintext" readonly  id="view_education">  </tr><br>
        </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>      
        </div>
        </div>
    </div>
    </div>

<script>       
    $(document).on('click', '.view_data', function(){
    var employee_id = $(this).attr("id");
    $j.ajax({
    url:"/viewdetails",
    method:"POST",
    data:({employee_id:employee_id}),
    success:function(data){
        $('#view_name').val(data.name);
        $('#view_email').val(data.email);
        $('#view_mobile').val(data.mobile);
        $('#view_skills').val(data.skills);
        $('#view_education').val(data.education);
        }   
    });
    });
</script>  

{% endblock %}